
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
$font:'Roboto', sans-serif;
$bodyFont:1em;
$liFont:0.8;

$bcFooter:#30353D;
$bcBar:#f5f6f6;
$bcHeadline:#f25c42;

$colorWhite:#fff;
$colorRed:#e65c43;
$colorGrey:#666;

$imgBody:'../images/bg.gif';
$imgLogo:'../images/logo.png';
$imgMedia1:'../images/social-media.png';
$imgMedia2:'../images/social-media.png';
$imgMedia3:'../images/social-media.png';
$imgMedia4:'../images/social-media.png';
